@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  overflow: hidden;
}

:root {
  --plyr-color-main: #9d65c9;
  --primary: #9d65c9;
  --plyr-audio-controls-background: #212121;
  --text-color: #b3b3b3;
}

.primary {
  color: var(--primary);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: inherit;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(53, 53, 53);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  background-image: radial-gradient(
    circle,
    #212121,
    #1d1d1d,
    #1a1a1a,
    #161616,
    #121212
  );
}

.spacing > * + * {
  margin: 1rem 0;
}

/* .fill-screen-exit {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(31, 31, 31, 0.966);
  width: 100%;
  height: 100%;
  z-index: 10;
} */

.bottom_section {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #212121;
  z-index: 10;
  display: none;
}

.controls {
  text-align: center;
  color: var(--text-color);
}

.controls ion-icon:nth-child(2):hover {
  transform: scale(1.125);
  transition: transform 300ms linear;
}

.controls ion-icon:hover {
  color: var(--primary);
  transition: all 300ms linear;
}

.cover {
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  padding: 5px;
}

div.plyr.plyr--full-ui.plyr--audio.plyr--html5.plyr--paused.plyr--stopped,
button.plyr__controls__item.plyr__control.plyr__control--pressed {
  display: none;
}
.plyr {
  width: 80%;
  margin: 0 auto;
}

.container {
  display: flex;
  height: 100vh;
}

.left-section {
  background-color: #121212;
  flex: 1;
  padding-top: 2rem;
}
.main-section {
  flex: 9;
}
.nav-1,
.nav-2,
.nav-3 {
  padding: 0 1rem;
  /* Currently disabled */
  pointer-events: none;
}
.nav-1 ul {
  list-style-type: none;
}
.nav-1 ul li {
  padding: 0.8rem 0;
}
.nav-1 ul li a {
  color: var(--text-color);
  text-decoration: none;
  font-size: 1rem;
  font-weight: 700;
}
.nav-1 ul li a:hover {
  color: #fff;
}
ion-icon {
  transform: translateY(2px);
  padding-right: 5px;
}

.nav-2 ul {
  list-style: none;
}

.nav-2,
.nav-3 {
  margin-top: 1rem;
}
.nav-2 ul li,
.nav-3 ul li {
  padding: 0.7rem 0;
}
.nav-2 ul li a,
.nav-3 ul li a {
  color: var(--text-color);
  text-decoration: none;
  font-weight: 700;
  font-size: 0.9rem;
}
.nav-2 ul li a:hover,
.nav-3 ul li a:hover {
  color: #fff;
}

.nav-2 p,
.nav-3 p {
  color: var(--text-color);
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.song-cover {
  transform: translateY(10px);
  z-index: 100;
}

.main-section {
  overflow-y: scroll;
  margin: 0 2rem;
  margin-top: 2rem;
  font-size: 0.9rem;
  padding-bottom: 10rem;
}

.banner {
  height: 250px;
  width: 100%;
  background-color: #e6e6e6;
  display: flex;
  justify-content: center;
  position: relative;
}

.banner::after {
  content: 'Only good music. Keep it simple.';
  position: absolute;
  background-image: linear-gradient(
      to top,
      #1c1c1cf1,
      #252525ea,
      #2f2f2fef,
      #3a3a3aef,
      #444444f5
    ),
    url(highlight.jpg);
  background-position: center;
  width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #707070;
  line-height: 100px;
}

.main-section h1 {
  font-size: 3rem;
  color: #fff;
  font-weight: 700;
}

.main-section button {
  background-color: var(--primary);
  color: #fff;
  padding: 10px;
  width: 150px;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 6px;
  border-color: var(--primary);
  transform: translateX(2px);
  border: none;
}

.main-section button:hover {
  background-color: #1f201f;
  transition: all 300ms linear;
}
.searchArea {
  display: flex;
  align-items: center;
}
.searchArea ion-icon {
  font-size: 1.3rem;
  color: var(--text-color);
}
.searchArea #songInput {
  display: block;
  background-color: transparent;
  color: var(--text-color);
  border: none;
  padding: 8px 10px;
  flex: 1;
  outline: none;
}

#songs {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 50px;
}

#songs td,
#songs th {
  border-bottom: 1px solid #262626;
  padding: 10px;
  color: #fff;
  cursor: pointer;
}

#songs tr {
  background-color: #181818;
}

#songs tr:hover {
  background-color: #333;
}

#songs th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #181818;
  color: #b3b3b3;
}

.song_img {
  display: flex;
  gap: 1rem;
  align-items: center;
}
