@media screen and (max-width: 995px) {
  .left-section {
    display: none;
  }
  .main-section {
    margin: 0 1rem;
    overflow-y: scroll;
    font-size: 0.9rem;
    padding-bottom: 6rem;
    overflow-x: hidden;
  }
  .main-section h1 {
    font-size: 2rem;
  }
  .party {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .playSong {
    display: none;
  }
  .song_img p {
    margin-left: 1rem;
  }
  .player {
    display: block;
  }
  .plyr {
    width: 100%;
  }
  .banner {
    height: 120px;
    margin: 1rem 0;
    display: none;
  }
  .banner::after {
    font-size: 1.2rem;
    line-height: 1.5;
    align-items: center;
    height: 120px;
  }
  #songInput {
    font-size: 1rem;
  }
  #songs td,
  #songs th {
    font-size: 0.9rem;
  }
}
